.search-popup {
    position: relative;
    /* margin-right: 3.2rem; */
}

.search-input {
    position: absolute;
    top: 120%;
    right: 0;
    z-index: 9999;
    padding: 0.4rem 1.2rem;
    background-color: var(--dark-background);
    color: #fff;
    border-radius: 0.4rem;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    white-space: nowrap;
}

.search-input.show {
    display: inline-block;
}

.search-input input {
    width: 12rem;
}
